body{
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}
ul{
    font-family: helvetica;
}
li{
    list-style: circle;
}
.list{
    list-style: square;
}
#msg{
    font-family: helvetica;
}
:root{
    --green: #00ff00;
    --white: #ffffff;
    --black: #000000;
}
.light-theme{
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}
.dark-theme{
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}
.btn{
    height: 74px;
    width: 74px;
    border-radius: 50%;
    border:none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}
.container{
    padding: 24px 16px;
}
.topo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 420px;
}
.input-container{
    display: flex;
    padding: 10px;
    
}
input{
    background-color: #1a1a1a;
    border: 1px solid #333;
    color: #fff;
    border-radius: 6px;
    padding: 5px 50px;
    width: 300px;   
}
button{
    background-color: #fff;
    color: #000000;
    border: none;
    border-radius: 6px;
    padding: 0 15px;
    font-weight: bold;
    cursor: pointer;
}
input:focus{
    border-color: #444;
}
